body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-header-container {
  border: 1px solid black;
  padding: 20px;
}

.tile-button {
  height: 50px;
  width: 50px;
  background: red;
  margin: 5px;
  cursor: pointer;
}

.tile-container {
  justify-content: center;
  float: left;
  padding: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.parent-container {
  padding-left: 20%;
}


.player-score {
  width: 50%;
  float: right;
  padding-top: 95px;
}  
.score{
  padding-top: 30px;
}

.selected {
  border: 10px solid blue;
  cursor: default;
}